{{#block "header"}}
    <header>
        <div class="container">
            <div class="site-header">
                <a class="logo" href="index.html">SparkBlog</a>
                <a class="new-entry button button-round" href="new.html"><i class="material-icons">create</i></a>
            </div>
        </div>
    </header>
{{/block}}